*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
}


body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html::-webkit-scrollbar{
    width: .8rem;
}

section{
    min-height: 100vh;
    padding: 2rem 9%;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(37, 35, 35, 0.8) ;
    backdrop-filter: blur(10%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 100;
    height: 20px;
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: rgb(12, 157, 177);
    text-shadow: 0 0 25px rgb(12, 157, 177),
                 0 0 25px rgb(12, 157, 177);
    transform: scale(1.1);
}
span{
    color: rgb(30, 129, 83);
}


.home{
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: left;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    width: 800px;
    height: 60%;
    margin-top: 10%;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}    

.img-box{
    border-radius: 20px;
    height: 70%;
    width: 100%;
    margin-top: 10%;
    position: static;
}

.box-container .box .image{
    border-radius: 20px;
    height: 75%;
    width: 125%;
    margin-top: 10%;
    position: static;
}
.box-container .img-box{
    border-radius: 20px;
    height: 75%;
    width: 125%;
    margin-top: 10%;
    position: static;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 28px;
    background-color: rgb(30, 129, 18);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: rgb(30, 129, 18);
}

.work{
    background: linear-gradient(to bottom black, black);
    margin-top: 5rem;
}
.about .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem;
}

.education{
    background-color: #a17d7d;
}
.box{
    border-radius: 15%;
    background-color: #999;
    color: white;
    border-radius: 50px;
    transition: 0.3s ease;
    cursor: pointer;
}

.box-container{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    background: white;
    border: none;
}

.about .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    background: white;
    border: none;
}

#skills{
    padding: 30px 0;

}
.service-list{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    gap: 20%;
}
.sale{
     display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    gap: 20%;
}

.service-list div{

    background: #dfcfcf;
    padding: 40px;
    border-right: 20%;
    font-size: 13px;
    font-weight: 300;
}
.sale div{
    background: #dfcfcf;
    padding: 40px;
    border-right: 20%;
    font-size: 13px;
    font-weight: 300;
    width: 40%;
    height: 200px;
}

.row{
    background-color: #a17d7d;
    border-radius: 20%;
}
fieldset{
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 10px;
    min-width: 200px;
}
label{
    display: block;
    margin-top: 1em;
}

input{
    padding: .5em;
    border: solid 1px #999;
    min-height: 8em;
    min-width: 100%;
}
button[type= "submit"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
}

textarea{
     padding: .5em;
     min-height: 8em;
     min-width: 100%;
     border: solid 1px #999;
     margin-top: .5em;
}

.footer{
    background: black ;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    padding: 35px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: relative;
}

